*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body
{
    height: 500px;
    width: 400px;
}

.owl-carousel img
{
    height: 300px;
    width: 200px;
    align-items: center;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
}